{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    
    <div>
	    <h5>My current school, Merchiston Castle School, has a large campus.
			 This combined with the lack of directional signs
			  makes it difficult to navigate to a newcomer such as a new student or visitor.
			   The school does not provide a map to new students so there is a need for this application
			    to be created.
			    The school also has ramps, elevators,
				 stairs, lifts and other facilities providing access for those in wheelchairs.
				  I have decided to create a virtual map of the school which directs
				   the user to the quickest path or alternatively, the path for disabled access.
				   
	    </h5>
	</div>
{% endblock content %}