{% extends "blog/base.html" %}
{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
        .formBox{
padding: 0.5rem 2rem;
        }
</style>
</head>
<body>
<form>
<div class="formBox">
<label for="start">Start</label>
<input type="text" id="start" placeholder="Start"/>
</div>
<div class="formBox">
<label for="end">End</label>
<input type="text" id="end" placeholder="End"/>
</div>
<div class="formBox">
<button id="btn">Click to Add</button>
</div>
<div id="msg">
<pre></pre>
</div>
</form>
<script>
let destinations = [];

const addDest = (ev)=>{
ev.preventDefault();  //to stop the form submitting
let dest = {
id: Date.now(),
start: document.getElementById('start').value,
end: document.getElementById('end').value
}
destinations.push(dest);
document.forms[0].reset(); // to clear the form for the next entries
//document.querySelector('form').reset();
//for display purposes only
console.warn('added' , {destinations} );
let pre = document.querySelector('#msg pre');
pre.textContent = '\n' + JSON.stringify(destinations, '\t', 2);
//saving to localStorage
localStorage.setItem('MyMovieList', JSON.stringify(destinations) );
}
document.addEventListener('DOMContentLoaded', ()=>{
document.getElementById('btn').addEventListener('click', addDest);
});
</script>
</body>
</html>


{% endblock content %}