

{% extends "blog/base.html" %}
{% block content %}
{{username}}
<h1> Map Home</h1>
<li class="list-group-item list-group-item-light">
<h4 class="stat-title">Dijkstra Function:</h4>

<br>



<form>
<div class="formBox">
<label for="start"></label>
<input type="text" id="start" placeholder="Start"/>
</div>
<div class="formBox">
<label for="end"></label>
<input type="text" id="end" placeholder="End"/>
</div>
</form>
  <form action="/result">
  <button id="stat-btn" class="btn">Run</button>
</form>


</li>
<div> 
  {% load static %} <img src="{% static 'map/media/MerchiMap.jpg' %}" alt="map" style="width:1000px;height:700px;">
</div>



{% endblock content %}


